<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>Talo - {{ title }}</title>
    {% else %}
    <title>Talo</title>
    {% endif %}

    <meta charset="utf-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-select.min.css" />

    <!-- BoostrapCDN cached version -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <!-- import plugin script -->

    <link
      rel="stylesheet"
      type="text/css"
      href="static/chart.js/dist/Chart.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/chart.js/dist/Chart.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="static/chart.js/dist/Chart.js"></script>
    <script src="static/chart.js/dist/Chart.min.js"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
