<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Chart.js Example</title>
    <!-- import plugin script -->
    
    <link rel="stylesheet" type="text/css" href='static/chart.js/dist/Chart.css'>
    <link rel="stylesheet" type="text/css" href='static/chart.js/dist/Chart.min.css'>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src='static/chart.js/dist/Chart.js'></script>
    <script src='static/chart.js/dist/Chart.min.js'></script>
  </head>

  <body>
    <h1>Hello world</h1>
 <div>
    <canvas id="myChart"></canvas>
        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'line',

              // The data for our dataset
              data: {
                  labels: [{% for label in labels %}
                  {{ label }},
                  {% endfor %}],
                  datasets: [{
                      label: 'My First dataset',
                      backgroundColor: 'rgb(255, 99, 132)',
                      borderColor: 'rgb(255, 99, 132)',
                      data: [{% for value in values %}
                      {{ value }},
                      {% endfor %}]
                  }]
              },

              // Configuration options go here
              options: {}
          });
        </script>
  </div>
  </body>

</html>
