{% extends 'base.html'%} {% block content %}

<div class="container">
  <h1>Principal vs interest</h1>
  <canvas id="myChart"></canvas>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var stackedBar = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: [{% for label in labels %}
            {{ label }},
            {% endfor %}],
            datasets: [{
                    label: 'Principal',
                    backgroundColor: 'rgb(61, 165, 217)',
                    borderColor: 'rgb(61, 165, 217)',
                    data: [{% for value in values_principal %}
                    {{ value }},
                    {% endfor %}],
            },
                      {
                        label: 'Interest',
                        backgroundColor: 'rgb(209, 73, 91)',
                        borderColor: 'rgb(209, 73, 91)',
                        data: [{% for value in values_interest %}
                        {{ value }},
                        {% endfor %}],
                      }],
        },

        // Configuration options go here
        options: {
          scales: {
            xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
    });
  </script>
</div>
<div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-block" href="#">
    Download Excel
  </button>
</div>

{% endblock content %}
